Babel==2.3.4
cffi==1.9.1
constantly==15.1.0
cryptography==1.7.1
debtcollector==1.10.0
decorator==4.0.10
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
funcsigs==1.0.2
greenlet==0.4.11
idna==2.2
incremental==16.10.1
ipaddr==2.1.11
ipaddress==1.0.17
msgpack-python==0.4.8
netaddr==0.7.18
networkx==1.11
oslo.config==3.21.0
oslo.i18n==3.11.0
ovs==2.6.1
pbr==1.10.0
pcapy==0.10.10
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
pytz==2016.10
PyYAML==3.12
repoze.lru==0.6
rfc3986==0.4.1
Routes==2.3.1
ryu==4.9
scapy==2.3.3
schedule==0.4.2
six==1.10.0
stevedore==1.19.1
tinyrpc==0.5
Twisted==16.6.0
WebOb==1.6.3
wrapt==1.10.8
zope.interface==4.3.3
